.counter {
  margin: 0;
  padding: 0;
}
.counterNumArea {
  height: 100%; width: 100%;
}
.counterNumFrame {
  position: relative;
  display: block; float: left;
  width: 3vh; height: 5vh;
  font-family: 'Recursive', sans-serif;
  overflow: hidden;
}
.counterNum {
  position: absolute;
  width: 1vh;
  font-size: 5vh;
  font-family: 'Recursive', sans-serif;
  transition: top 0.2s ease;
}
