.counterNumArea {
  display: block; float: left;
  padding: 0.3vh 0 0 0.3vh;
  height: 5.3vh;
  background-color: #696969;
}
.counterNumFrame {
  margin: 0 0.3vh 0 0;
  position: relative;
  display: block; float: left;
  width: 3vh; height: 5vh;
  font-family: 'Recursive', sans-serif;
  overflow: hidden;
  background: rgb(128,128,128);
  background: radial-gradient(circle, rgba(128,128,128,1) 0%, rgba(38,38,38,1) 100%);
}
.counterNum {
  position: absolute;
  font-size: 5vh;
  font-family: 'Recursive', sans-serif; color: white; text-shadow: 0 0 0.8vh white;
  transition: top 0.2s ease;
}
